* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Nunito', sans-serif;
    --lapis:#145C9E;
}

h1 {
    color: var(--lapis);
    font-size: 4rem;
    line-height: 1;
}

h1,#description {
    text-align: center;
}

h2 {
    display: inline-block;
}

form, .paste {
    position: relative;
    display: block;
    max-width: 1000px;
    margin:2rem auto;
}

input[name="title"],textarea {
    display: block;
    width: 100%;
    padding:1rem;
    border:2px solid var(--lapis);
    background: white;
    margin: 0.5rem 0rem;
    color: black;
    border-style:solid;
}

textarea {
    width: 100%;
    height: 50vh;
    resize: vertical;
}

textarea:focus, input:focus{
    outline: none;
}

#url {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.button {
    border: 0px;
    background: var(--lapis);
    color: white;
    padding: 0.5rem 1rem;
    margin: 0rem 0rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border-style:solid;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
}

.paste {
    display: none;
}

#copied {
    opacity: 0;
}

.fade {
    animation: fade 2s;
}

@keyframes fade{
  0%   {opacity: 0;}
  50%  {opacity:1;}
  100% {opacity: 0;}
}
